body {
    background: linear-gradient(to right, #6c237c, #0a1050);
    font-family: roboto,sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    color: #f5f5f5;
}
.hero_name {
    margin: 0 0 0  30px;
    font-weight: 900;
    font-size: 18px
}
.nav {
    display: flex;
    flex-direction: row;
}
.nav h2 {
    margin: 0 25px 0 25px;
}
.hero_btn {
    margin: 0 30px 0 0;
}

/* HERO IMAGE */
.hero_img {
    position: relative;
    align-items: center;
    justify-content: center;
}
.hero_text1 {
    color: #f5f5f5;
    position: absolute;
    top: 40vh;
    left: 5vh;
    align-items: center;
    font-size: 130px;
    font-weight: bold !important;
    z-index: 0;
    margin: 0;
    padding: 0;
}
.hero_text1 h1 {
    margin: 0;
}
.hero_image {
    color: #f5f5f5;
    position: absolute;
    top: -2vh;
    left: 35vh;
    align-items: center;
    justify-content: center;
    font-size: 130px;
    font-weight: bold !important;
    z-index: 1;
    height: 95vh;
    filter: drop-shadow(rgba(0, 0, 0, 0.75) 0px 5px 55px);
}
.hero_image img {
    height: 95vh;
}
.hero_text2 {
    color: #f5f5f500;
    -webkit-text-stroke-color: #f5f5f5;
    -webkit-text-stroke-width: 1px;
    position: absolute;
    top: 40vh;
    left: 5vh;
    align-items: center;
    font-size: 130px;
    font-weight: bold !important;
    z-index: 2;
    margin: 0;
    padding: 0;
}
.hero_text2 h1 {
    margin: 0;
}



